.choice-block {
  margin: 0 0 1em;

  select {
    font-family: inherit;
    font-size: 0.9em;
    // border-radius: 0.2em;
    border: none; //$input-border;
    padding: 0.5em 1em;
    font-weight: bold;
    background-color: $main-color;
    min-width: 20em;
    color: #fff;
  }
}

.cities-list {
  list-style-type: none;
}

.city-item {
  margin: 0 0 0.5em;
}
