.search-block {
  margin: 1em 0 2em;
}

.search-field {
  width: 100%;
  border: none; //$input-border;
  // border-radius: 0.5em;
  padding: 0.5em 1em;
  outline: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
  background-color: $main-color;
  color: #fff;

  &::placeholder {
    color: #fff;
  }
}

.search-title {
  margin: 0 0 1em;
}
