.search-block {
  margin: 1em 0 2em;
}

.search-field {
  width: 100%;
  border: 1px solid #999;
  border-radius: 0.5em;
  padding: .5em 1em;
  outline: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 1em;
}

.search-title {
  margin: 0 0 1em;
}
